@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");

:root {
  --main-color: #3767a5;
  --black: #1f1d1d;
  --white: #ffffff;
  --grey: #334155;
  --light: #cfdef9;
  --darkBlue: #007bb5;
  --green: #20aa20;
  --darkRed: #9b1e1e;
  --red: #ff0000;
  --lightRed: #f3a09cf8;
  --darkYellow: #a88c18;
  --lightBlue: #89c3df;
  --darkerBlue: #004a6c;

  --primary: #9333ea;
  --secondary: #2563eb;
  --success: #22c55e;
  --danger: #dc2626;
  --warning: #facc15;
  --default: #414752;
  --link: #06aed8;
  --darkOrange: #e67a00;
  --lightGrey: #88898b;
  --darkGreen: #008000;

  --alert-primary: #084298;
  --alert-secondary: #41464b;
  --alert-success: #0f5132;
  --alert-danger: #842029;
  --alert-warning: #664d03;
  --alert-info: #055160;
  --alert-light: #636464;
  --alert-dark: #141619;

  --alert-primary-background: #cfe2ff;
  --alert-secondary-background: #e2e3e5;
  --alert-success-background: #d1e7dd;
  --alert-danger-background: #f8d7da;
  --alert-warning-background: #fff3cd;
  --alert-info-background: #cff4fc;
  --alert-light-background: #fefefe;
  --alert-dark-background: #d3d3d4;

  --alert-primary-border: #b6d4fe;
  --alert-secondary-border: #d3d6d8;
  --alert-success-border: #badbcc;
  --alert-danger-border: #f5c2c7;
  --alert-warning-border: #ffecb5;
  --alert-info-border: #b6effb;
  --alert-light-border: #fdfdfe;
  --alert-dark-border: #bcbebf;

  --max: 81.25rem;
  font-family: "Montserrat", sans-serif;

  --border-full: 999px;
  --border-lg: 15px;
  --border-md: 10px;
  --border-sm: 5px;

  --font-light: 300;
  --font-regular: 400;
  --font-semiBold: 600;
  --font-bold: 700;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  object-fit: cover;
}

ul {
  list-style: none;
}
