.max-w-100pct {
  max-width: 100%;
}
.w-8 {
  width: 8rem;
}
.w-10 {
  width: 10rem;
}
.w-100pct {
  width: 100%;
}

.w-6p5 {
  width: 6.5rem;
}
.w-20 {
  width: 20rem;
}
.w-25 {
  width: 25rem;
}

.w-33 {
  width: 33rem;
}
.w-60 {
  width: 60rem;
}
.w-99 {
  width: 99%;
}
